footer.content-info {
  color: theme-color('primary');

  @include media-breakpoint-up(sm) {
    margin-left: 15px;
    margin-right: 15px;
  }

  .container-fluid {
    border-top: 1px theme-color('primary') solid;
  }

  section {
    @include make-col-ready();

    font-size: 15px;

    @include media-breakpoint-up(md) {
      @include make-col(3);

      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}
